---
http_interactions:
- request:
    method: get
    uri: http://api.pugetsound.onebusaway.org/api/where/current-time.json?key=6a1c72f7-6ec4-4522-bf33-3698b3ad86c2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '1684664496'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"currentTime":1445318245161,"data":{"entry":{"readableTime":"2015-10-19T22:17:25-07:00","time":1445318245161},"references":{"agencies":[],"routes":[],"situations":[],"stops":[],"trips":[]}},"text":"OK","version":2}'
  recorded_at: Tue, 20 Oct 2015 05:17:25 GMT
recorded_with: VCR 2.9.3
